{% extends "templates/web.html" %}
{% block page_content %}
<h1> Your Contract here:</h1>

{% if contract.error %}
    <p>{{contract.error}}</p>

{% else %}
    
    Party Name: {{ contract.party_name }} <br>
    Start date: {{ contract.start_date }} <br>
    End date: {{ contract.end_date }}  <br>
    
    Signee name: <input type="text" id="signee" value="yo" data-signee="{{ contract.signee }}"> <br><br>
    <div id="contract" data-contractname="{{contract.name}}" ></div>

    <button id="sign-contract" type="submit" value="Submit">Submit Contract</button> <br>
    
 {% endif %}
 {% endblock %}

 {% block script %}
<script>
   
    var $signContract = $("#sign-contract");
    var contract = $('#contract').data();
    
    
    $signContract.on("click", function () {
        var signee = document.getElementById("signee").value;
        console.log(signee);
        frappe.call({
            method: "erpnext.crm.doctype.contract.contract.accept_contract_terms",
            args: {
                signee: signee,
                contract: contract.contractname,
                },
            freeze: true,
		    freeze_message: __("Sharing..."),
		    callback: function (r) {
			    frappe.msgprint(__(r))
				}
            })
});

</script>
{% endblock %}