{% extends "templates/web.html" %}
{% block page_content %}
{% block title %} Your Contract <br> {% endblock %}

{% if contract_expired %}
    <h1>Contract link has expired. Press this button to receive an email with a new link</h1>
    <button id="renew-link" type="submit" value="renew-link">Send Email</button>
{% elif not contract %}
    <h1>Contract not found</h1>
{% elif contract.is_signed %}
    <h1>You have successfully signed your Contract!</h1>
{% else %}
    Party Name: {{ contract.party_name }} <br>
    Start date: {{ contract.start_date }} <br>
    End date: {{ contract.end_date }} <br>
    Signee name: <input type="text" id="signee" value="" data-signee="{{ contract.signee }}" required/> <br><br>
    <div id="contract" data-contractname="{{contract.name}}"></div>
    <div id="signature"></div>

    <button id="submitBtn" type="submit" value="Submit">Submit Contract</button> <br>
{% endif %}
{% endblock %}

{% block script %}
<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/frappe/js/lib/jSignature.min.js"></script>
<script>{% include "templates/includes/sign_contract/sign_contract.js" %}</script>
{% endblock %}